__pycache__/DrillModule.cpython-38.pyc
__pycache__/FurniturePlanner.cpython-38.pyc
__pycache__/LabelModule.cpython-38.pyc
Labels/labels.pdf
Drilling/wiertarka_format.xlsx
__pycache__/FurniturePlanner.cpython-38.pyc
__pycache__/FurniturePlanner.cpython-38.pyc
