@page {
    width: 52.5mm;
    height: 16.9mm;
    padding: 2mm;
}
img {
    height: 16.9mm;
    display: inline-block;
    vertical-align: middle;
    image-rendering: pixelated;
}
.label {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    vertical-align: middle;
    display: inline-block;

    font-size: 9.5px;
    border-radius: 25px;
    padding: 0.5mm;
    writing-mode: vertical-lr;

    transform: rotate(270deg);
    padding: -5mm;
    margin: -5mm;

}


#rectangle{
    
    /*width:15mm;
    height:10mm;*/
    display: inline-block; /*inline-block*/
    vertical-align: middle;
    overflow: hidden;
    border: 0.5mm solid #000000;
    position: relative;


}
  
.dim_vertical {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    position: absolute;
    top: 40%;
    left: 80%;
    
    font-size: 10px;
    writing-mode: vertical-lr;
    transform: rotate(270deg);
}

.dim_horizontal {
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    position: absolute;
    top: 5%;
    left: 40%;
    
    font-size: 10px;
}

.sign{
    font-family: Arial, Verdana, Helvetica, sans;
    font-weight: bold;
    position: absolute;
    top: 70%;
    left: 5%;
    background-color:black; 
    color:white;
    border-radius: 45px;
    padding: 0.4mm;
    font-size: 4px;
}